<ion-header>
  <ion-toolbar style="--background: #f0f0f0; --color: #000000;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>App Language</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="--background: #ffffff;">
  <ion-list lines="inset">
    <ion-radio-group [(ngModel)]="selectedLanguage" (ionChange)="changeLanguage($event)">
      <ion-item>
        <ion-label>English (India)</ion-label>
        <ion-radio slot="end" value="en-IN"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Hindi</ion-label>
        <ion-radio slot="end" value="hi"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Spanish</ion-label>
        <ion-radio slot="end" value="es"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>French</ion-label>
        <ion-radio slot="end" value="fr"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
