<ion-header [translucent]="true">
  <ion-toolbar style="padding-top: 30px;">
    <!-- Back Button -->
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBackToChat()">
        <ion-icon name="arrow-back-outline" class="back-icon"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Options Button -->
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="ellipsis-vertical" class="dot-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="center-content">
  <ion-avatar class="avatar">
    <img src="assets/images/cameraplus.png" alt="User Avatar" />
  </ion-avatar>

  <!-- ✅ Show name from localStorage -->
  <ion-label class="username">
    {{ isGroup ? 'Group Chat' : receiver_name }}
  </ion-label>

  <!-- ✅ Show phone number -->
  <ion-label class="usernumber">
    {{ receiver_phone }}
  </ion-label>
</div>


  <div class="message-toolbar" style="margin-top: 15px; margin-bottom: 15px;">

    <div class="message-item">
      <ion-avatar class="centered-avatar">
        <ion-icon name="chatbox-ellipses-outline" class="mess-icon"></ion-icon>
      </ion-avatar>
      <ion-label>Message</ion-label>
    </div>

    <div class="message-item">
      <ion-avatar class="centered-avatar">
        <ion-icon name="call-outline" class="mess-icon"></ion-icon>
      </ion-avatar>
      <ion-label>Call</ion-label>
    </div>

    <div class="message-item">
      <ion-avatar class="centered-avatar">
        <ion-icon name="videocam-outline" class="mess-icon"></ion-icon>
      </ion-avatar>
      <ion-label>Video</ion-label>
    </div>

  </div>

  <div class=" what-mess">
    <p class="messgae-chat">Hey there! i am using WhatsApp.</p>
    <p class="message-number">23 March 2024</p>
  </div>

  <div class="main-media">
    <div class="all-media">
      <p class="docs">Media, Links, and docs</p>
      <div class="media-count">
        <ion-router-link href="/" class="no-decoration">20</ion-router-link>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

    <swiper-container slides-per-view="4" space-between="10" class="slider">
      <swiper-slide *ngFor="let item of [].constructor(15)" class="slider-swip">
        <div class="image-wrapper">
          <img src="assets/images/chacha.jpeg" alt="Rectangle-img" />
        </div>
      </swiper-slide>
    </swiper-container>
  </div>

  <ion-list lines="none" class="noti-list">
    <ion-item>
      <ion-icon name="notifications-outline" slot="start" class="all-icon"></ion-icon>
      <ion-label class="Encry">Notifications</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="image-outline" slot="start" class="all-icon"></ion-icon>
      <ion-label class="Encry">Media Visibility</ion-label>
    </ion-item>
  </ion-list>

  <ion-list lines="none" class="noti-list">
    <ion-item class="jha">
      <ion-icon name="lock-closed-outline" slot="start" class="all-icon"></ion-icon>
      <ion-label>
        <div>
          <div class="Encry">
            Encryption
          </div>
          <div class="encrypted">
            Messages and calls are end-to-end encrypted. Tap to verify.
          </div>
        </div>
      </ion-label>
    </ion-item>

    <ion-item class="jha">
      <ion-icon name="timer-outline" slot="start" class="all-icon"></ion-icon>
      <ion-label class="Encry">Disappering messages</ion-label>
    </ion-item>

    <ion-item class="jha">
      <ion-icon name="lock-closed-outline" slot="start" class="all-icon"></ion-icon>
      <ion-label>
        <div>
          <div class="Encry">
            Chat lock
          </div>
          <div class="encrypted">
            Lock and hide this chat on this devic.
          </div>
        </div>
      </ion-label>
      <ion-icon name="toggle-outline" class="all-icon"></ion-icon>
    </ion-item>

    <ion-item class="jha">
      <ion-icon name="shield-half-outline" slot="start" class="all-icon"></ion-icon>
      <ion-label>
        <div>
          <div class="Encry">Advanced Chat Privacy</div>
          <div class="encrypted">off</div>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>


  <ion-list lines="none" class="noti-list">

    <ion-label class="total-group">2 Group in Common</ion-label>

    <ion-item class="jha">
      <!-- <i class="fa-solid fa-user-group usergroup all-icon" slot="start"></i> -->
      <ion-icon name="person-outline" class="all-icon" slot="start"></ion-icon>
      <ion-label class="Encry">Create group with user
      </ion-label>
    </ion-item>

    <ion-item class="jha">
      <!-- <i class="fa-solid fa-user-group usergroup all-icon" slot="start"></i> -->
      <ion-icon name="person-outline" class="all-icon" slot="start"></ion-icon>
      <ion-label>
        <div>
          <div class="Encry">
            Group No.1
          </div>
          <div  class="encrypted">
            Create group with member
          </div>
        </div>
      </ion-label>
    </ion-item>

    <ion-item class="jha">
      <!-- <i class="fa-solid fa-user-group usergroup all-icon" slot="start"></i> -->
      <ion-icon name="person-outline" class="all-icon" slot="start"></ion-icon>
      <ion-label>
        <div>
          <div class="Encry">
            Group No.1
          </div>
          <div  class="encrypted">
            Create group with member
          </div>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list lines="none" class="noti-list">

    <ion-item class="jha">
      <ion-icon name="heart-outline" slot="start" class="all-icon"></ion-icon>
      <ion-label class="Encry">
        Add to Favourites
      </ion-label>
    </ion-item>

    <ion-item class="jha">
      <ion-icon name="person-add-outline" slot="start" class="all-icon"></ion-icon>
      <ion-label class="Encry">
        Add to list
      </ion-label>
    </ion-item>

    <ion-item class="jha">
      <ion-icon name="ban-outline" slot="start" class="all-icon"></ion-icon>
      <ion-label class="Encry">
        Block user
      </ion-label>
    </ion-item>

    <ion-item class="jha">
      <ion-icon name="thumbs-down-outline" slot="start" class="all-icon"></ion-icon>
      <ion-label class="Encry">
        Report user
      </ion-label>
    </ion-item>

  </ion-list>


</ion-content>