ion-header {
    // --box-shadow: none !important;
    box-shadow: none;
}

.back-icon {
    color: black;
    font-size: 30px;
}

.dot-icon {
    color: black;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
}

.username {
    font-weight: 500;
    font-family: Montserrat;
    font-size: 22px;
}

.usernumber {
    font-weight: 500;
    font-family: Montserrat;
    font-size: 17px;
}

.mess-icon {
    font-size: 30px;
    color: red;
    border-radius: 22px;
}

.avatar {
    height: 120px;
    width: 120px;
}

.message-toolbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
}

.message-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f7afaf;
    border-radius: 10px;
    padding: 0px 5px 5px 5px;
}

.centered-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 40px;
    height: 43px;
}

.message-item ion-label {
    font-size: 15px;
}

.what-mess {
    box-shadow: 0px 0px 5px 0px #cdcd;
    margin-top: 10px;
    padding: 1px 10px 1px 12px;
}

.main-media {
    padding: 10px 0px 10px 10px;
    margin-top: 10px;
    box-shadow: 0px 0px 5px 0px #cdcd;
}

.all-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 9px 11px 0px;
}

.docs {
    margin: 0px;
}

.media-count {
    display: flex;
    align-items: center;
    gap: 5px;
}

.image-wrapper {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    border-radius: 7px;
    overflow: hidden;
}

.no-decoration {
    text-decoration: none;
    color: inherit;
    /* optional: keeps text color same as surrounding */
}

.noti-list {
    padding: 0px;
    margin-top: 10px;
    box-shadow: 0px 0px 5px 0px #cdcd;
}

.usergroup {
    font-size: 25px;
}

.total-group {
    padding-left: 10px;
}

.messgae-chat {
    margin-bottom: 0;
    font-size: 17px;
    font-family: Montserrat;
    font-weight: 400;
}

.message-number {
    margin-top: 5px;
}

.all-icon {
    font-size: 26px;
    color: red;
    margin: 10px 15px 0px 0px;
}
.all-icon1 {
    font-size: 26px;
    color: red;
    // margin: 10px 15px 0px 0px;
}

.jha {
    display: flex;
    align-items: flex-start;
}

.Encry {
    font-size: 17px;
}

.encrypted {
    font-size: 15px;
    color: gray;
}



.profile-container {
    flex-direction: row;
    gap: 10px;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    transition: all 4ms ease-in-out;
}

.profile-name {
    font-size: 18px;
    font-weight: 500;
    color: #222;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d1d1d1;
    transition: 0.4s;
    border-radius: 30px;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 3px;
    background-color: #fff;
    transition: 0.4s;
    border-radius: 50%;
}

.toggle-switch input:checked + .toggle-slider {
    background-color: red;
}

.toggle-switch input:checked + .toggle-slider:before {
    transform: translateX(22px);
}

.profile-avatar {
    width: 150px;
    height: 150px;
    margin: auto;
    transition: all 0.3s ease-in-out;
}

.backbutton {
    position: absolute;
    top: 0;
}

.dotbutton {
    position: absolute;
    top: 0;
    right: 0;
}

ion-label.profile-name {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

ion-header.scrolled ion-label.profile-name {
    display: block;
    opacity: 1;
}

ion-header.scrolled .profile-avatar {
    width: 50px;
    height: 50px;
    margin: 0;
}

ion-header.scrolled {
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

ion-header.scrolled .backbutton,
ion-header.scrolled .dotbutton {
    position: unset;
}
