<ion-header [translucent]="true">
  <ion-toolbar class="telldemm">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" (click)="goBack()" class="person"></ion-icon>
      <span class="Forward">Forward to …...</span>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="person-add-outline" class="person"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="search-outline" class="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Status Section (Optional - can be removed if not needed) -->
  <ion-list *ngIf="statusList.length > 0">
    <ion-item *ngFor="let status of statusList">
      <ion-avatar slot="start" class="avatar-container">
        <img [src]="status.avatar || 'assets/images/user.jfif'" />
      </ion-avatar>

      <ion-label>
        <p class="chat-message">{{ status.name }}</p>
        <p>{{ status.subtitle }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Frequently Contacted Heading -->
  <p class="Frequently" *ngIf="!isLoadingContacts && allUsers.length > 0">
    Frequently contacted
  </p>

  <!-- Skeleton Loader -->
  <ion-list *ngIf="isLoadingContacts">
    <ion-item *ngFor="let skeleton of [].constructor(6)">
      <ion-avatar slot="start">
        <ion-skeleton-text animated style="width: 40px; height: 40px; border-radius: 50%;"></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <p><ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text></p>
        <p><ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Device Contacts List -->
  <ion-list *ngIf="!isLoadingContacts">
    <ion-item *ngFor="let user of filteredContacts" (click)="toggleSelection(user)">
      <ion-avatar slot="start" class="avatar-container">
        <img [src]="user.image || 'assets/images/user.jfif'" />
        <ion-icon
          *ngIf="user.selected"
          name="checkmark-circle"
          class="check-overlay"
        ></ion-icon>
      </ion-avatar>
      <ion-label>
        <p class="chat-message">{{ user.name }}</p>
        <p>{{ user.phone_number }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Empty State -->
  <div *ngIf="!isLoadingContacts && allUsers.length === 0" class="empty-state" style="text-align: center; padding: 40px 20px;">
    <ion-icon name="people-outline" style="font-size: 64px; color: #ccc;"></ion-icon>
    <p style="color: #999; margin-top: 16px;">No contacts found</p>
  </div>

</ion-content>

<ion-footer *ngIf="selectedContacts.length > 0" class="selected-footer">
  <ion-toolbar>
    <div class="selected-names">
      {{ selectedNames }}
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="sendForward()">
        <ion-icon name="send" slot="icon-only" class="multi-send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>