// changes by homah start 

.view-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.smile{
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
}

.smile-icon{
    height: 35px;
    width: 28px;
}

.reply{
    box-shadow: 0px 0px 12px 0px #cdcd;
    border-radius: 15px;
}

.reply-icon{
        width: 26px;
    height: 28px;
}

.user-head{
    margin-left: 15px;
}

// changes by homah end 