<ion-header [translucent]="true">
  <ion-toolbar style="display: flex; flex-direction: column; align-items: stretch; --background: white;">
    <ion-buttons slot="start" style="color: black; width: 8%; margin-top: 15px;">
      <ion-back-button defaultHref="/home-screen"></ion-back-button>
    </ion-buttons>

    <div style="display: flex;padding-top: 30px;">
      <ion-title>
        <h2 style="color:#FF1414;font-family: Montserrat-bold;font-size:20px">Settings</h2>
      </ion-title>

      <!-- <ion-buttons slot="end" style="display: flex;margin-right: 10px;">
        <ion-button fill="clear">
          <img src="assets/images/qr-code.svg" style="width: 24px; height: 24px;" />
        </ion-button>
        <ion-button fill="clear">
          <img src="assets/images/camera.svg" style="width: 24px; height: 24px;" />
        </ion-button>
        <ion-button fill="clear" (click)="presentPopover($event)">
          <img src="assets/images/dots (1).svg" style="width: 24px; height: 24px;" />
        </ion-button>
      </ion-buttons> -->
    </div>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: white;">
  <div style="padding: 5%;">
    <div style="display: flex;align-items: center;justify-content: space-between; cursor: pointer;"
     (click)="goToProfile()">
  <div style="display: flex;align-items: center;gap: 15px;">
    <div class="profile-image-container">
      <ion-spinner name="circular" *ngIf="isLoading" 
                   style="width: 65px; height: 65px;"></ion-spinner>
      <img *ngIf="!isLoading" 
           [src]="profileImageUrl" 
           alt="user_image" 
           (error)="onImageError($event)"
           style="width: 65px; height: 65px; border-radius: 50px; object-fit: cover;" />
    </div>
    <div>
      <p style="color: black;font-family: 'Montserrat-bold';font-size: 20px;margin: 0;">{{sender_name}}</p>
      <p style="color: black; font-family: Montserrat, Medium; font-size: 14px; margin: 0;">
  {{ dpStatus }}
</p>
    </div>
  </div>
  <div>
    <img src="assets/images/barcode-scan.svg" alt="barcode-scan-img">
  </div>
</div>

    <!-- <div style="display: flex;align-items: center;gap: 15px;padding: 20px 0px 0px 5px;">
      <img src="assets/images/account.svg" alt="barcode-scan-img">
      <div>
        <p style="color: black;font-family: 'Montserrat, SemiBold';font-size: 18px;margin: 0;">Meta Verified (wip)</p>
        <p style="color: black;font-family: Montserrat, Medium;font-size: 14px;margin: 0;">Show that your profile is verified</p>
      </div>
    </div> -->

    <div style="display: flex;align-items: center;gap: 15px;    padding: 20px 0px 0px 5px;">
      <img src="assets/images/account.svg" alt="barcode-scan-img">
      <div>
        <p style="color: black;font-family: 'Montserrat, SemiBold';font-size: 18px;margin: 0;">Account (wip)</p>
        <p style="color: black;font-family: Montserrat, Medium;font-size: 14px;margin: 0;">Security notification, change number</p>
      </div>
    </div>

    <div style="display: flex;align-items: center;gap: 15px;    padding: 20px 0px 0px 5px;">
      <img src="assets/images/key.svg" alt="barcode-scan-img">
      <div>
        <p style="color: black;font-family: 'Montserrat, SemiBold';font-size: 18px;margin: 0;">Privacy (wip)</p>
        <p style="color: black;font-family: Montserrat, Medium;font-size: 14px;margin: 0;">Block contact, disappearing messages</p>
      </div>
    </div>

    <div style="display: flex;align-items: center;gap: 15px;padding: 20px 0px 0px 5px;">
      <img src="assets/images/avatar.svg" alt="barcode-scan-img">
      <div>
        <p style="color: black;font-family: 'Montserrat, SemiBold';font-size: 18px;margin: 0;">Avatar (wip)</p>
        <p style="color: black;font-family: Montserrat, Medium;font-size: 14px;margin: 0;">Create, edit, profile photo</p>
      </div>
    </div>

    <div style="display: flex;align-items: center;gap: 15px;padding: 20px 0px 0px 5px;">
      <img src="assets/images/heart.svg" alt="barcode-scan-img">
      <div>
        <p style="color: black;font-family: 'Montserrat, SemiBold';font-size: 18px;margin: 0;">Favourites (wip)</p>
        <p style="color: black;font-family: Montserrat, Medium;font-size: 14px;margin: 0;">Add, recorder, remove</p>
      </div>
    </div>

    <div style="display: flex;align-items: center;gap: 15px;padding: 20px 0px 0px 5px;">
      <img src="assets/images/msg.svg" alt="barcode-scan-img">
      <div>
        <p style="color: black;font-family: 'Montserrat, SemiBold';font-size: 18px;margin: 0;">Chats (wip)</p>
        <p style="color: black;font-family: Montserrat, Medium;font-size: 14px;margin: 0;">Theme, wallpapers, chat histroy</p>
      </div>
    </div>

    <div style="display: flex;align-items: center;gap: 15px;padding: 20px 0px 0px 5px;">
      <img src="assets/images/notification.svg" alt="barcode-scan-img">
      <div>
        <p style="color: black;font-family: 'Montserrat, SemiBold';font-size: 18px;margin: 0;">Notification (wip)</p>
        <p style="color: black;font-family: Montserrat, Medium;font-size: 14px;margin: 0;">Message, group & call tones</p>
      </div>
    </div>

    <div style="display: flex;align-items: center;gap: 15px;padding: 20px 0px 0px 5px;">
      <img src="assets/images/storage.svg" alt="barcode-scan-img">
      <div>
        <p style="color: black;font-family: 'Montserrat, SemiBold';font-size: 18px;margin: 0;">Storage and data (wip)</p>
        <p style="color: black;font-family: Montserrat, Medium;font-size: 14px;margin: 0;">Network usage, auto-download</p>
      </div>
    </div>

    <div style="display: flex;align-items: center;gap: 15px;padding: 20px 0px 0px 5px;">
      <img src="assets/images/web.svg" alt="barcode-scan-img">
      <div>
        <p style="color: black;font-family: 'Montserrat, SemiBold';font-size: 18px;margin: 0;">App language (wip)</p>
        <p style="color: black;font-family: Montserrat, Medium;font-size: 14px;margin: 0;">English (device's language)</p>
      </div>
    </div>

    <div style="display: flex;align-items: center;gap: 15px;padding: 20px 0px 0px 5px;">
      <img src="assets/images/help.svg" alt="barcode-scan-img">
      <div>
        <p style="color: black;font-family: 'Montserrat, SemiBold';font-size: 18px;margin: 0;">Help (wip)</p>
        <p style="color: black;font-family: Montserrat, Medium;font-size: 14px;margin: 0;">Help center, contact us, privacy policy</p>
      </div>
    </div>

    <div style="display: flex;align-items: center;gap: 15px;padding: 20px 0px 0px 5px;">
      <img src="assets/images/invite.svg" alt="barcode-scan-img">
      <div>
        <p style="color: black;font-family: 'Montserrat, SemiBold';font-size: 18px;margin: 0;">Invite a contact (wip)</p>
      </div>
    </div>

    <div style="display: flex;align-items: center;gap: 15px;padding: 20px 0px 0px 5px; cursor: pointer;"
     (click)="logout()">
  <ion-icon name="log-out-outline" style="font-size: 24px; color: #FF1414;"></ion-icon>
  <div>
    <p style="color: #FF1414;font-family: 'Montserrat, SemiBold';font-size: 18px;margin: 0;">Log Out</p>
    <p style="color: black;font-family: Montserrat, Medium;font-size: 14px;margin: 0;">Clear app data and sign out</p>
  </div>
</div>

  </div>
</ion-content>